<extend name="Index/index"/><block name="main">
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font"></i><a href="/index.php/admin">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/index.php/admin/part/index">分区管理</a><span class="crumb-step">&gt;</span><span>修改分区</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <form action="/index.php/admin/part/update" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <table class="insert-tab" width="100%">
                <tbody>
                <input type="hidden" name="pid" value="<?=$pinfo['pid']?>">
                <tr>
                    <th width="120">
                        <i class="require-red">*</i>分区名称：
                    </th>
                    <td>
                        <input class="common-text required" id="title" name="pname" size="50" value="<?=$pinfo['pname']?>" type="text">
                    </td>
                </tr>
                <tr>
                    <th>
                    </th>
                    <td>
                        <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                        <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                    </td>
                </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</block>