<include file="Common/header"/>
<!--内容部分start-->
<div class="content">
	<form action="/index.php/home/post/save" method="post">
		<table height="60">
		<tr>
			<td>
				<label>标题:</label>
			</td>
			<td>
				<input type="text" name="title" size="50">
			</td>
		</tr>
		<tr>
			<td>
				<label>内容：</label>
			</td>
			<td>
				<textarea name="content" rows="12" cols="80"></textarea>
			</td>
		</tr>
		<tr>
			<td>
				<label>所属版块：</label>
			</td>
			<td>
				<select name="cid">
                        	<?php foreach($oparts as $part): ?>
                        	<option disabled>
                        		<?=$part['pname']?>
                        	</option>
                            	<?php foreach($ocates as $cate): ?>
	                            	<?php 
	                            		if ($cate['pid'] == $part['pid']) : 
	                            	?>
	                            		<option value="<?=$cate['cid']?>" <?php if($cate['cid']==$cid) { echo 'selected'; } ?> >
	                            			----<?=$cate['cname']?>
	                            		</option>
	                            	<?php endif; ?>
                            	<?php endforeach; ?>
                        	<?php endforeach; ?>
                </select>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="发贴" style="width:100px;height:30px;">
			</td>
		</tr>
		</table>
	</form>
</div>
<!--内容部分end-->
<include file="Common/footer"/>