<div class="content">
	<!--分区部分start-->
	<div class="section">
		<!--分区标题部分start-->
		<div class="section_title">
			<span class="section_title_left"><?=$opart['pname']?>
			</span>
			<!-- <span class="section_title_right">分区版主：<a href=""><?=$users[$cate['uid']]?>
			</a></span> -->
		</div>
		<!--分区标题部分end-->
		<!--分区内容部分start-->
		<div class="section_content">
			<table cellspacing="0" celpadding="0">
			<tr>
				<?php
					$i = 0;	
					foreach($cates as $cate):
						if($cate['pid'] == $opart['pid']):
					?>
				<td>
					<span class="section_content_ico">
					<img src="/Public/Home/images/forum_new.gif" title="<?=$cate['cname']?>"/>
					</span>
					<dl>
						<dd class="dd_title"><a href="/index.php/home/post/index/cid/<?=$cate['cid']?>"><?=$cate['cname']?>
						</a></dd>
						<dd>
						<em>主题：54</em>,
						<em>帖子：244</em>
						</dd>
						<dd>
						<a href="">最后发表: 2012-11-1 10:22</a>
						</dd>
					</dl>
				</td>
				<?php
					$i++; 
					endif; 
				?>
				<?php 
					if ($i % 3 == 0) {
						echo '</tr>';
						echo '<tr>';
					}
				?>
				<?php endforeach; ?>
			</tr>
			</table>
		</div>
		<!--分区内容部分end-->
	</div>
</div>